<table id="Header">
    <tr>
        <td colspan="3" style="text-align: left;"><span>M</span>anuscript <span>I</span>llumination:
            <span>N</span>on-<span>I</span>nvasive <span>A</span>nalysis,
        </td>
    </tr>
    <tr>
        <td class="MiniareCell">MINIARE</td>
        <td style="width: 300px;">
            <span>R</span>esearch <span>A</span>nd <span>E</span>xpertise<br/>
            <hr style="margin-top:15px;"/>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
<br clear="all"/>