<a href="/"><img src="images/Logo.png" alt="Logo.png"></a>
<br/>
<br/>
<p><a href="project">The Project</a></p>
<p><a href="objectives">Objectives</a></p>
<p><a href="news">News</a></p>
<p><a href="people">About Us</a></p>
<p><a href="whycambridge">Why Cambridge?</a></p>
<p><a href="support">Support Us</a></p>
<p><a class="MailtoLink" href="index">Contact Us</a></p>
<p><a href="publications">Publications</a></p>
<p><a href="exhibition_colour">Exhibition</a></p>
<p><a href="links">Links</a></p>
<p><a href="jobs">Jobs</a></p>
<br/>
<p><img src="images/CambridgeUniversityLogo.png" alt="CambridgeUniversityLogo.png"/></p>
<p><img src="images/FitzwilliamLogo.png" alt="FitzwilliamLogo.png"/></p>
